{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
{{ partial "series.html" . }}
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
  {{ $words := float (.RawContent | replaceRE `(?s)\+\+\+.*?\+\+\+` "" | countwords) }}
  {{ $mins := math.Ceil (div $words 212.0) }}
  <span> | {{ math.Max $mins 2 }} mins read</span>
</p>
{{ end }}{{ end }}

<content>
  {{ if .Params.toc }}
    <div class="table-of-contents">
      <h3> Table of Contents</h3>
      {{ .TableOfContents }}
    </div>
  {{ end }}

  <div style="margin-top: 2.0rem; !important">
    {{ .Content }}
  </div>
</content>

{{ if eq .Type "blog" }}{{ if (.Param "enablePostNavigator")}}
{{- partial "post_navigator.html" . -}}
{{ end }}{{ end }}

<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ end }}
