{{ define "main" }}
{{ .Content }}

  <h2>Articles</h2>
  <ul class="blog-posts">
    {{ range (where .Site.RegularPages "Section" "blog") }}
    <li style="display: block; margin-bottom: 1.2rem;">
        <div>
          <a href="{{ .Permalink }}" style="font-weight: bold; font-size: 1.1em;">{{ .Title }}</a>
        </div>
        <div>
          <time datetime="{{ .Date.Format "2006-01-02" }}" style="color: #888; font-size: 0.9em;">
            {{ .Date.Format "2006-01-02" }}
          </time>
        </div>
      </li>
    {{ end }}
  </ul>
{{ end }}
