{{ define "main" }}
<main style="max-width: 800px; margin-top: 1.5rem; ">
  <h2 style="margin-bottom: 1.2rem !important;">{{ .Title }}—Article Series</h2>

  <ul style="list-style: none; padding: 0; margin: 0;">
    {{ range .Pages.ByDate }}
      <li style="margin-bottom: 0.8rem !important; display: flex; flex-direction: column; gap: 0.25rem;">
        <a href="{{ .RelPermalink }}" style="font-size: 1.2rem; text-decoration: none;">
          {{ .Title }}
        </a>
        <span style="color: #666; font-size: 0.9rem;">
          {{ .Date.Format "2006-01-02" }}
        </span>
      </li>
    {{ end }}
  </ul>
</main>
{{ end }}
